body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; 
    color: #333; 
}

.navbar {
    background-color: #0d47a1; 
    color: white;
    position: fixed; 
    top: 0;
    width: 100%; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-brand {
    font-size: 1.25rem;
    font-weight: bold;
    color: #000000 !important;
    text-transform: uppercase; 
    margin-left: 15px;
}

.navbar-brand:hover {
    color: #727272 !important; 
    text-decoration: none;
}


.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: white;
    border-radius: 2px;
    width: 30px;
    height: 3px;
    position: relative;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
    content: "";
    background-color: white;
    border-radius: 2px;
    width: 30px;
    height: 3px;
    position: absolute;
    left: 0;
    transition: 0.3s ease;
}

.navbar-toggler-icon::before {
    top: -8px;
}

.navbar-toggler-icon::after {
    top: 8px;
}

@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .offcanvas.show {
    animation: slideIn 0.3s forwards;
  }
  
  .offcanvas {
    animation: slideOut 0.3s forwards;
  }

 